
#cart_footer{
    border-bottom: 1px solid rgb(214, 214, 214);
  
  
    font-family:Arial, sans-serif;
    padding: 30px;
}
 #cart_footer>div{
  

    margin: auto;
    display: flex;
  
    font: 1em sans-serif;
}
#cart_footer>div>div {margin:0 7%;}
#mobile_img>img{
    height: 400px;
} 
 #buttons>div{
display: flex;

}

#buttons button{
  margin-right:20px;
    padding: 18px 50px;
    background-color: rgb(88,96,102);
    color: white;
    border-radius: 7px;
    border: none;
    cursor: pointer;
    font-size: 14px;
    line-height: 15px;
    font-weight: 400;
    margin-bottom: 20px;
}
#buttons p{
    color: rgb(88,96,102);
    font-size: 19px;
    line-height: 24px;
    font-weight: 400;
    margin-bottom: 20px;
} 







#common_footer{
    padding:20px;
    border-bottom: 1px solid rgb(214, 214, 214);
 
    font-family:Arial, sans-serif;
    background-color: rgb(244,247,251);
}


#footer_center{
    width: 90%; margin:auto;
    font: 1em sans-serif; 
}

#footer_info{
    display: flex;
    justify-content: space-around;

   font: 1em sans-serif;
  
}
#footer_info>div {
    padding:0 8px 0 0;
    margin-top: 20px;
}

#footer_center>div h3{
    color: rgb(65, 65, 65);
    margin-bottom: 17px;
    font-size: 16px;
    font-weight: 700;
}

#footer_center>div p{
    color: rgb(88,96,102);
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 17px;
}
#footer_icons{
    display: flex;
   
    font-size: 35px;
    color: rgb(16,132,126);
    cursor: pointer;
}
 #footer_icons>i{
    font-size: 40px;
    margin:0 10px;
}



#footer_img{
    /* border: 1px solid black; */
    padding:25px;
    margin-left: 14px;
}
#footer_box{

    display: flex;
      flex-wrap: wrap;
      align-items: center;
      row-gap: 20px;
}

#footer_img img{
    height: 25px; 
     margin-right:28px;

} 

#footer_box{margin-top:30px;}



@media screen and (min-width:100px) and (max-width: 650px){
#cart_footer>div{
    flex-direction: column;
     margin-bottom: 100px;}
#footer_info{
    flex-direction: column;
    margin-bottom: 30px;
}
#footer_img{
    padding:0px;
}
}

@media screen and (min-width: 651px) and (max-width: 950px){
#footer_info{
    display: grid; 
    grid-template-columns: repeat(3,auto);}
#footer_img{
    padding:0px;
}

}