
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400,500,600&family=Poppins:ital,wght@1,100&display=swap');


#body_main{
    border:0px solid blue;
    /* height:8000px; */
    height: auto;
    width:100%;
    box-sizing: border-box;
}

.search_section{
    border:0px solid orchid;
    height: 220px;
    width:100%;
    display: flex;
    justify-content: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.search_section>div{
    border:0px solid greenyellow;
    width:90%;
    height: 80px;
    
}

.search_heading{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.search_heading>div{
  border:0px solid blue;
  width:40%;
  height: 100%;
}
.search_heading_left{
    display: flex;
    justify-content: left;
    align-items: center;
    font-family:  'Inter', sans-serif;
    font-size: 22px;
    font-weight: 600;
    color: #30363c;
}
.search_heading_right{
    display: inline-flex;
    justify-content:baseline;
    align-items:flex-end; 
}
.prescription{
    border:0px solid red;
    width:40px;
    height: 40px;
}

.prescription>img{
    width: 100%;
    height: 100%;
}
.order{
    border:0px solid red;
    width:180px;
    height: 40px; 
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: normal;
    font-weight: 500;
    font-family:'Inter', sans-serif;
    font-size: 16px;
    color: #30363c;
}
.upload{
    border:0px solid red;
    width:120px;
    height: 40px; 
    display: flex;
    justify-content: center;
    align-items: center;  
    font-style: normal;
    font-weight: 600;
    font-family:'Inter', sans-serif;
    font-size: 16px;
    color: #0a534f;
    cursor:pointer
}
.arrow{
    border:0px solid red;
    width:30px;
    height: 30px; 
    cursor:pointer
}
.arrow>img{
    width: 70%;
    height: 70%;
}
.searcharea{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.sabox{
    border:1px solid black;
    width:100%;
    height:80%;
    border-radius: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.sabox>div{
    border:0px solid green;
    /* width:30%;
    height: 80%; */
}
.search_icon{
    width:25px;
    height:25px;
}
.search_icon>img{
    width:100%;
    height: 100%;
}
.search_btn{
    width:120px;
    height: 50px;
    border-radius: 40px;
}
.input_box{
    width:1000px;
    height: 60px;
    border: none;
}
.input_box>input{
    width:1000px;
    height: 50px;
    border: none;
    font-size: 18px;
    outline: none;
}
.input_box>input::placeholder{
    font-size: 18px;
}
.search_btn>button{
    width:120px;
    height: 50px;
    border-radius: 40px;
    border: none;
    background-color: #10847e;
    color: white;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 1px;
}

#facilities{
    border: 0px solid red;
    width:100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;

}
.wrapper{
    width: 1250px;
    border: 0px solid green;
    position: relative;
    padding: 20 0px ;
    display: flex;
    justify-content: center;
}
.wrapper i {
    top: 50%;
    height: 40px;
    width: 40px;
    cursor: pointer;
    font-size: 1.2rem;
    position: absolute;
    text-align: center;
    line-height: 40px;
    background: black;
    color: #fff;
    border-radius: 50%;
    transform: translateY(-50%);

}
.wrapper i:first-child{
    left: -23px;
}
.wrapper i:last-child{
    right: -23px;
}
.wrapper .carousel{
    white-space: nowrap;
    cursor: pointer;
    overflow: hidden;
    display: flex;
}
.carousel{
    width: 1250px;
    border: 0px solid green;
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
}
.carousel div{
    border: 0px solid rgb(73, 73, 122); 
    border-radius: 10px;
    
}
.carousel div:hover{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; 
}
.carousel div p{
  text-align: center;
  font-style: normal;
  font-family: 'Inter', sans-serif;
  font-size: 18px;
  font-size: 500;
  line-height: 10px;
  color: #30363c;
}
#discount{
    font-size: 16px; 
    color: #f47779;
}
.carousel div img{
    height: 80px;
    width:130px;
    object-fit: cover;
    /* border: 1px solid grey; */
    border-bottom:1px solid grey; ;
}

/* @media screen and (max-width:900px) {
    .carousel div img {
        height: 80px;
        width:100px;
    }  
}

@media screen and (max-width:500px) {
    .carousel div img {
        height: 50px;
        width:80px;
    }  
} */

/* 3 */
#offer_carousel{
    border:0px solid blueviolet;
    width:90%;
    margin: auto;
    /* height: 15%; */
    display: flex;
    position: relative;
   height: 400px;

   align-items: center; 
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    transition: all 1s;
}
.offers_carousel{
    /* display:none
     */
     width: 45vw;
}


.offers_carousel img{
  /* width:600px; */
  width: 100%;
 
  border-radius: 10px;
}

 #ltarrow, #rtarrow {
    top: 50%;
    border: 0px solid red;
    height: 40px;
    width: 40px;
    cursor: pointer;
    position: absolute;
    font-size: 1.2rem;
    display: inline-block;
    text-align: center;
    line-height: 40px;
    background: black;
    color: #fff;
    border-radius: 50%;
    transform: translateY(-50%);
}
#ltarrow{
    /* margin-left: 10px; */
    left: 0;
}

#rtarrow{
    /* right: -23px; */
    right: 0;
}

/* 4 */
#discount_tag{
    border: 0px solid royalblue;
    width: 100%;
    height: 200px;
}
.dis_heading {
    font-style: normal;
    font-size: 26px;
    font-family: 'Inter',sans-serif;
    font-weight: 600;
    line-height: 24px;
    color: #30363c;
    display: inline-block;
    margin-left: 30px;

}
.discount_container{
   
    border:0px solid red;
    width:80%;
    height:45%;
    margin-left: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.dis{
   border:1px solid rgb(226, 224, 224);
   width:32%;
   height:100%;
   border-radius: 10px;
   display: inline-flex;
   justify-content: space-around;
   align-items: center;
   cursor: pointer;
   
}
.dis:hover{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.dis p{
    font-style: normal;
    font-size: 18px;
    font-family: 'Inter',sans-serif;
    font-weight: 500;
    line-height: 24px;
    color: #30363c;
    margin-left: 10px;
    /* display: inline; */
}
.dis_img{
    border:0px solid green;
    width:50px;
    height: 50px;
    margin-left: 10px;
}
.dis_img img{
    width:100%;
    border-radius: 5px;
}
#log .material-symbols-outlined{
    font-size: 36px;
    color: #30363c;;
}
#log{
    background-color: #dffffd;
}
#log p {
    font-size: 20px;
}

#payment_offers{
    border: 0px solid royalblue;
    width: 98%;
    height: 200px;
    margin: auto;
}
.pay_heading{
    font-style: normal;
    font-size: 26px;
    font-family: 'Inter',sans-serif;
    font-weight: 600;
    line-height: 24px;
    color: #30363c;
    display: inline-block;
    margin-left: 30px; 
}
.sfgh{
    border:0px solid red;
    width:100%;
    height:50%;
    display: flex;
    /* justify-content: space-around; */
    position: relative;
    overflow: hidden;
    align-items: center;
}
.sfgh i{
    top: 50%;
    border: 0px solid red;
    height: 40px;
    width: 40px;
    cursor: pointer;
    position: absolute;
    transform: translateY(-50%);
    font-size: 1.2rem;
    display: inline-block;
    text-align: center;
    line-height: 40px;
    background: black;
    color: #fff;
    border-radius: 50%;
    /* transform: translateY(-10%); */
}
#payleft{
    left: 0;
}
#payright {
    right:0
}
.payment_offer_container{
    border:0px solid red;
    /* width:92%; */
    height:100%;
transition: all 1s;
    /* margin-left: 10px; */
    display: flex;
    justify-content: space-around;
    align-items: center; 
    gap: 20px;
}
.payment_offer_container div {
   border:0px solid black;
   width:31vw;
   height:100%;
   border-radius: 10px;
   /* margin-left: 10px; */
}
.payment_offer_container div img{
    width:100%;
    height: 100%;
    border-radius: 10px;
}
/* .payment_carousel{
    display: none;
} */

#categories{
    border:0px solid green;
    width:100%;
    height: 8%;
    
}
.cate_heading{
    font-style: normal;
    font-size: 26px;
    font-family: 'Inter',sans-serif;
    font-weight: 600;
    line-height: 24px;
    color: #30363c;
    display: inline-block;
    margin-left: 30px;  
}
.arbtn{
    border:0px solid red;
    /* width:100%; */
    
    height:50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
}
.arbtn i{
    top: 50%;
    border: 0px solid red;
    height: 40px;
    width: 40px;
    cursor: pointer;
    position: absolute;
    font-size: 1.2rem;
    display: inline-block;
    text-align: center;
    line-height: 40px;
    background: #30363c;
    color: #fff;
    border-radius: 50%;
    transform: translateY(-50%);
}
.arbtn i:hover{
  background-color: rgb(20, 20, 20);  
}
#cat_left{
    left:0;
}
#cat_right{
    right:0;
}
#categories_main{
    position: relative;
    /* border: 1px solid teal; */
    height: 300px;
    display: flex;
    align-items: center;
    width: 90%;
    margin: auto;
    overflow: hidden;
}
#categories_container{
    display: flex;
    align-items: center;
    height: 200px;
    /* border: 1px solid blue; */
    transition: all 500ms;
    gap: 20px;
}
.cate_cards{
    height: 160px;
    width: 130px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 1px solid black; */
    cursor: pointer;
}
.cate_cards >img{
    width: 100%;
    border: 1px solid rgb(202,202,202);
    border-radius: 5px;
}
.cate_cards >img:hover{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
#newLaunch{
    border:0px solid blue;
    width:100%;
    height: 520px;
}
.newLaunch_heading{
    font-style: normal;
    font-size: 26px;
    font-family: 'Inter',sans-serif;
    font-weight: 600;
    line-height: 20px;
    color: #30363c;
    margin-left: 30px;  
}
.newLaunch_subheading{
    font-style: normal;
    font-size: 16px;
    font-family: 'Inter',sans-serif;
    font-weight: 500;
    line-height: 14px;
    color: #30363c;  
    margin-left: 30px;  
}
.nlarbtn{
    border:0px solid red;
    /* width:100%; */
    height:70%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;   
}
.nlarbtn i{
    top: 50%;
    border: 0px solid red;
    height: 40px;
    width: 40px;
    cursor: pointer;
    font-size: 1.2rem;
    position: absolute;
    display: inline-block;
    text-align: center;
    line-height: 40px;
    background: #30363c;
    color: #fff;
    border-radius: 50%;
    transform: translateY(-50%);
}
#category_left{
    left: 0;
}
#category_right{
    right: 0;
}
#main{
 position: relative;
 border: 0px solid blue;
 width: 90%;
 height: 90%;
 margin: auto;
 display: flex;
 /* justify-content: center; */
 align-items:center ;
 overflow: hidden;
}
#newLaunch_container{
    border:0px solid black;
    /* width:90vw; */
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    gap: 20px;
    transition: all 1s;
}
.launch_card{
    border:0px solid green;
    width:20vw;
    height: 100%;
    
}
.launch_card_img{
    width:100%;
    height: 60%;
    border:1px solid rgb(212, 209, 209);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    
}
.launch_card_img:hover{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.launch_card_img img{
    /* width:50%; */
    height: 70%;
}
.product_name{
    font-style: normal;
    font-size: 17px;
    font-family: 'Inter',sans-serif;
    font-weight: 500;
    line-height: 20px;
    color: #30363c;  
    
}
.mrp{
    font-style: normal;
    font-size: 14px;
    font-family: 'Inter',sans-serif;
    font-weight: 500;
    line-height: 20px;
    color: #30363c;   
}
.mrp span{
    text-decoration: line-through;
}
.dis_price{
    font-style: normal;
    font-size: 16px;
    font-family: 'Inter',sans-serif;
    font-weight: 600;
    line-height: 20px;
    color: #30363c;    
}
.dis_price span{
    font-size: 15px;
    color: #f47779;  ;
}

/* LabTest */
#labTest{
    border:0px solid brown;
    width: 100%;
    height: 450px;
    background-color: #f4f8ff;
}
.labtest_head{
    font-style: normal;
    font-size: 26px;
    font-family: 'Inter',sans-serif;
    font-weight: 600;
    line-height: 18px;
    color: #30363c;
    margin-left: 30px;
    padding-top: 20px;
}
.labtest_subhead{
    font-style: normal;
    font-size: 16px;
    font-family: 'Inter',sans-serif;
    font-weight: 500;
    line-height: 14px;
    color: #30363c;  
    margin-left: 30px;   
}
.labtest_subhead span img{
    width:100px;
    height: 20px;

}
.labtest_tags{
    border: 0px solid palevioletred;
    width:90%;
    height: 80px;
    margin-left: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.tags{
    border: 0px solid rgb(63, 31, 42);
    width: 15%;
    height: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.tags span,p{
    margin-left: 10px;
}
.tags p{
    font-style: normal;
    font-size: 16px;
    font-family: 'Inter',sans-serif;
    font-weight: 500;
    color: #30363c;
}

.ltarbtn{
    border:1px solid red;
    /* width:100%; */ 
    height:50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#ltarbtn i{
    top: 50%;
    border: 0px solid red;
    height: 40px;
    width: 40px;
    cursor: pointer;
    position: absolute;
    font-size: 1.2rem;
    display: inline-block;
    text-align: center;
    line-height: 40px;
    background: #30363c;
    color: #fff;
    border-radius: 50%;
    transform: translateY(-50%);
}
#ltarbtn i:hover{
    background-color: rgb(20, 20, 20);  
  }
#lab_left{
   left: 0;
}
#lab_right{
    right: 0;
}
#labtest_main{
    position: relative;
    border: 0px solid blueviolet;
    width: 90%;
    height: 200px;
    margin: auto;
    display: flex;
    align-items: center;
    overflow: hidden;
}
.labtest_slider_container{
    border: 0px solid green;
    /* width:100%; */
    height: 180px;
    display: flex;
    align-items: center;
    transition: all 500ms;
    gap: 20px;
}
.labtest_slider_cards{
    height: 180px;
    width: 160px;
    border: 0px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;

}
.labtest_slider_cards img{
    width: 100%;
    height: 100%;
    /* border: 1px solid rgb(202,202,202); */
    border-radius: 5px
}
.labtests_slider_cards:hover{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}


/* banner */
#banner{
    border: 0px solid purple;
    width: 100%;
    height: 150px;
    display: flex;
    justify-content:space-around;
    align-items: center;
    background-color: #8678de;
}
#banner div{
    border: 0px solid blue;
    height: 90%;
}
#banner_left{
    width: 30%;
    align-items: center;
}
.banner_left_top{
    font-style: normal;
    font-size: 22px;
    font-family: 'Inter',sans-serif;
    font-weight: 600;
    line-height: 32px;
    color: #fff;
}
.banner_left_top span{
    font-size: 24px;
    color: orangered;
}
.banner_left_bot{
    font-style: normal;
    font-size: 16px;
    font-family: 'Inter',sans-serif;
    font-weight: 500;
    line-height: 24px;
    color: #cfc9f2;
}
#banner_mid{
    width:45%;
}
#banner_btn{
   margin-left: 10px;
   margin-top: 20px;
   width:140px;
   height: 40px;
   display: flex;
   justify-content: center;
   align-items: center;
   font-weight: 600;
   color: #fff;
   background-color: #f5b326;
   border: none;
   border-radius: 5px;
   cursor: pointer;
}
.material-symbols-outlined{
    margin-left: 5px;
}
#banner_right{
    width:15%;
}
#banner_right img{
    width: 100%;
    height: 100%;
}

/* shop by concern */
#shopby{
    border: 0px solid salmon;
    width: 100%;
    height: 400px;
}
.shopby_head{
    font-style: normal;
    font-size: 26px;
    font-family: 'Inter',sans-serif;
    font-weight: 600;
    line-height: 20px;
    color: #30363c;
    margin-left: 30px; 
    padding-top: 20px; 
}
.shopby_subhead{
    font-style: normal;
    font-size: 16px;
    font-family: 'Inter',sans-serif;
    font-weight: 500;
    line-height: 14px;
    color: #30363c;  
    margin-left: 30px;  
}
#shopby_container{
  border: 0px solid olivedrab;
  width: 95%;
  height: 65%;
  display: flex;
  justify-content: space-around;
  align-items: center;

}
.shoby_card{
    border: 0px solid black;
    width:180px;
    height: 230px;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.shoby_card p{
    font-style: normal;
    font-family: 'Inter',sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    color: #30363c;
}
.shoby_card_img{
    border: 0px solid black;
    width:150px;
    height: 150px;
    margin-top: 20px;
    border-radius: 50%;
    cursor: pointer;
    
}
.shoby_card_img:hover{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    cursor: pointer;
}
.shoby_card_img img{
    width: 100%;
}

/* Frequent lab Test Booking */
#fblt{
    border:0px solid brown;
    width: 100%;
    height: 600px;
    /* display: flex; */
}
#fblt_heading{
    display: flex;  
    justify-content: space-between;
    align-items: center;
}
#fblt_head_rt{
    margin-right: 60px;
    font-style: normal;
    font-size: 18px;
    font-family: 'Inter',sans-serif;
    font-weight: 600;
    line-height: 20px;
    color: #30363c;
    cursor: pointer;
}
#fblt_head{
    font-style: normal;
    font-size: 26px;
    font-family: 'Inter',sans-serif;
    font-weight: 600;
    line-height: 20px;
    color: #30363c;
    margin-left: 30px; 
    padding-top: 20px;   
}
#fblt_container{
    border: 0px solid red;
    width: 95%;
    height:450px;
    margin-left: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.fblt_card{
    border:0px solid black;
    width: 300px;
    height: 350px;
    border-radius: 10px;
}
.fblt_card:hover{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.fblt_card:nth-child(1){
    background-color:#f1fafe ;
}
.fblt_card:nth-child(3){
    background-color:#f1fafe ;
}
.fblt_card:nth-child(2){
    background-color:#fdf7e8 ;
}
.fblt_card:nth-child(4){
    background-color:#fdf7e8 ;
}
.fblt_btn{
    margin-left: 10px;
    margin-top: 20px;
    width:100px;
    height:35px;
    background-color: #f47779;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;

}
.fblt_name{
    font-style: normal;
    font-size: 16px;
    font-family: 'Inter',sans-serif;
    font-weight: 600;
    line-height: 24px;
    color: #30363c;
    padding-top: 20px;   
}
.fblt_desc{
    font-style: normal;
    font-size: 16px;
    font-family: 'Inter',sans-serif;
    font-weight: 500;
    line-height: 24px;
    color: #6e787e;
    padding-top: 20px;    
}
.fblt_mrp{
    text-decoration: line-through;
    font-size: 18px;
    color: #8897a2;
}
.fblt_disprice{
    font-size: 24px;
}



/* Features Brands */
#features{
    border:0px solid green;
    width:100%;
    height: 8%;
}
.feat_heading{
    font-style: normal;
    font-size: 26px;
    font-family: 'Inter',sans-serif;
    font-weight: 600;
    line-height: 24px;
    color: #30363c;
    /* display: inline-block; */
    margin-left: 30px;  
}
.feat_subheading{
    font-style: normal;
    font-size: 18px;
    font-family: 'Inter',sans-serif;
    font-weight: 500;
    line-height: 24px;
    color: #30363c;
    /* display: inline-block; */
    margin-left: 30px;  
}
.feat_arbtn{
    border:0px solid red;
    /* width:100%; */ 
    height:50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
}
.feat_arbtn i{
    top: 40%;
    border: 0px solid red;
    height: 40px;
    width: 40px;
    cursor: pointer;
    position: absolute;
    font-size: 1.2rem;
    display: inline-block;
    text-align: center;
    line-height: 40px;
    background: #30363c;
    color: #fff;
    border-radius: 50%;
    transform: translateY(-50%);
}
.feat_arbtn i:hover{
  background-color: rgb(20, 20, 20);  
}
#feat_left{
    left:0;
}
#feat_right{
    right:0;
}
#features_main{
    position: relative;
    /* border: 1px solid teal; */
    height: 300px;
    display: flex;
    align-items: center;
    width: 90%;
    margin: auto;
    overflow: hidden;
}
#features_container{
    display: flex;
    align-items: center;
    height: 200px;
    /* border: 1px solid blue; */
    transition: all 500ms;
    gap: 20px;
}
.feat_cards{
    height: 250px;
    width: 160px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 1px solid black; */
}
.feat_cards >img{
    width: 100%;
    height: 100%;
    border: 1px solid rgb(202,202,202);
    border-radius: 5px;
}
.feat_cards >img:hover{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.feat_cards p{
    font-style: normal;
    font-family: 'Inter',sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: #30363c;
}

/* Adds */
#adds{
    border: 0px solid black;
    width:90%;
    height: 250px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#adds div{
    border:0px solid red;
    width:22%;
    height: 80%;
    border-radius: 10px;
    cursor: pointer;
   
}
#adds div:hover{
 box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#adds div img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

#deals_btn{
    margin: 20px;
    width:250px;
    height: 40px;
    background-color: #ff9341;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#adds2{
    border: 0px solid black;
    width:90%;
    height: 250px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#adds2 div{
    border:0px solid red;
    width:30%;
    height: 70%;
    border-radius: 10px;
    cursor: pointer;
   
}
#adds2 div:hover{
 box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#adds2 div img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

/* health Articles */
#Health{
    border:0px solid green;
    width:100%;
    height: 15%;
    
}
.health_heading{
    font-style: normal;
    font-size: 26px;
    font-family: 'Inter',sans-serif;
    font-weight: 600;
    line-height: 24px;
    color: #30363c;
   
    margin-left: 30px;  
}
.health_subheading{
    font-style: normal;
    font-size: 18px;
    font-family: 'Inter',sans-serif;
    font-weight: 500;
    line-height: 24px;
    color: #30363c;
    margin-left: 30px;  
}
.harbtn{
    /* border:1px solid red; */
    /* width:100%; */
    
    height:50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
}
.harbtn i{
    top: 50%;
    border: 0px solid red;
    height: 40px;
    width: 40px;
    cursor: pointer;
    position: absolute;
    font-size: 1.2rem;
    display: inline-block;
    text-align: center;
    line-height: 40px;
    background: #30363c;
    color: #fff;
    border-radius: 50%;
    transform: translateY(-50%);
}
.harbtn i:hover{
  background-color: rgb(20, 20, 20);  
}
#art_left{
    left:0;
}
#art_right{
    right:0;
}
#health_main{
    position: relative;
    /* border: 1px solid teal; */
    height: 300px;
    display: flex;
    align-items: center;
    width: 90%;
    margin: auto;
    overflow: hidden;
}
#health_container{
    display: flex;
    align-items: center;
    height: 200px;
    /* border: 1px solid blue; */
    transition: all 500ms;
    gap: 20px;
}
.health_cards{
    height: 280px;
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 1px solid black; */
    border-radius: 10px;
    cursor: pointer;
}
.health_cards >img{
    width: 100%;
    height: 70%;
    /* margin-top: 10px; */
    border: 1px solid rgb(202,202,202);
    /* border-radius: 5px; */
}
.health_cards p{
    font-size: 18px;
    font-family: 'Inter',sans-serif;
    color: #30363c;
}
.health_cards:hover{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}


/* Why Choose us */

#whu{
    border: 0px solid fuchsia;
    width: 100%;
    height: 250px;
    background-color: #f8f9ff;
}

#whu_heading{
    font-style: normal;
    font-family: 'Inter'sans-serif;
    font-size: 26px;
    font-weight: 600;
    color: #30363c;
    line-height: 20px;
    margin-left: 30px;
    margin-top: 30px;
    padding-top: 20px;

}

#whu_container{
    border: 0px solid red;
    width: 95%;
    height: 150px;
    margin-left: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.whu_cards{
    border: 0px solid black;
    width: 20%;
    height: 80%;
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
}
.whu_cards div{
    border: 0px solid black;
    height: 80%; 
}
.whu_cards_img{
    width: 30%; 
}
.whu_cards_img img{
    width:100%;
    border: 0px solid black;
}
.whu_cards_text{
   width: 60%;
}
.whu_cards_text_head{
   font-size: 22px;
}

/* Banners */
#banners{
  border: 0px solid rebeccapurple;
  width:100%;
  height: 400px;
  margin-top: 70px;
  display: flex;
  justify-content: center;
  background-color: #f8f9ff;
}
#banners_container{
    border: 0px solid rebeccapurple;
    width:40%;
    height: 300px;
}
#banners_btn{
    border: 0px solid rebeccapurple;
    width:100%;
    height: 40px;
    display: flex;
    margin-top: 30px;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
}
#banners_heading{
    font-style: normal;
    font-family: 'Inter'sans-serif;
    font-size: 45px;
    font-weight: 600;
    color: #30363c;
    line-height: 48px;
    text-align: center;
}
#banners_subheading{
    font-style: normal;
    font-family: 'Inter'sans-serif;
    font-size: 22px;
    font-weight: 600;
    color: #30363c;
    line-height: 24px;
    text-align: center;
}
#banners_btn div{
    border: 0px solid rebeccapurple;
    width:40%;
    height: 80px;
}
.apple img{
  width:100%;
}
.ios img{
    width:100%;
  }


  /* Details */
  #details{
    width:100%;
    height: 900px;
    border: 0px solid red;
  }
  .details_heading{
    font-style: normal;
    font-family: 'Inter'sans-serif;
    font-size: 18px;
    font-weight: 600;
    color: #30363c;
    line-height:20px;
    margin-top: 30px;
    
  }
  #details p{
    margin-top: 30px;
    font-style: normal;
    font-family: 'Inter'sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #30363c;
    line-height:20px;
    margin-left: 30px;
 }
 #details_link{
    cursor: pointer;
 }
 #details_link:hover{
    color: #8678de;
 }
