*{
    padding: 0;
    margin: 0;
} 
#flow{
    box-sizing: border-box;
    /* border: 1px solid black; */
    display: flex;
    margin: auto;
    column-gap: 10px;
    margin-bottom: 0px;
    width: 80%;
    padding: 10px;
    font-size: 12px;
    font-family: "Open Sans", sans-serif;
    line-height: 18px;
    font-weight: 400;
    color: #4f585e;
}
#flow a{
    text-decoration: none;
    color: #4f585e;
}
#flow span{
    font-size: 11px;
    margin-right: 10px;
    color: #4f585e;
}
#flow>:last-child{
    color: #8897a2;
}
#container{
    box-sizing: border-box;
    /* border: 1px solid red; */
    display: flex;
    width: 80%;
    margin: auto;
    column-gap: 10px;
    margin-bottom: 30px;
}
#left{
    box-sizing: border-box;
    /* border: 3px solid blue; */
    width: 28%;
    padding: 10px;
}
#left h1{
    color: #4f585e;
    line-height: 33px;
    font-size: 26px;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    margin-bottom: 20px;
} 
#left label{
    display: flex;
    justify-content: space-between;
    font-family: "Open Sans", sans-serif;
    line-height: 21px;
    font-size: 14px;
    color: #4f585e;
    font-weight: 400;
}
#left label, input:hover{
    cursor: pointer;
}
.subtopic{
    border-bottom: 1px solid rgba(128, 128, 128, 0.477);
    padding: 30px 0px 30px 0px;
}
.subtopic label>input{
    height: 19px;
    width: 19px;
}
.subtopic_h2{
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    line-height: 20px;
    color: #4f585e;
    font-weight: 700;
    margin-bottom: 25px;
}
.subtopic p{
    color: #10847e;
    font-weight: 800;
    font-family: "Open Sans", sans-serif;
    line-height: 18px;
    font-size: 15px;
    font-weight: 600;
}
.subtopic label{
    margin-bottom: 20px;
    color: #4f585e; 
}
#search_logo{
    border: 1px solid gray;
    border-radius: 7px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
    color: gray;
    margin-bottom: 20px;
}
#search_logo input{
    /* padding: 10px; */
    border: none;
    font-size: 16px;
    outline: none;
}
#search_logo i{
    font-size: 20px;
    display: flex;
    justify-content: center;
}

/* ------------container right -----------*/

#right{
    /* border: 4px solid black; */
    width: 72%;
    padding: 10px;
}
#right_top{
    display: flex;
    justify-content: space-between;
}
#right_top>h1{
    font-family: "Open Sans", sans-serif;
    line-height: 33px;
    font-size: 26px;
    font-weight: 600;
    color: #4f585e;
}
#right_top>h1+div>label{
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
}
#sorting{
    font-family: "Open Sans", sans-serif;
    padding: 12px 90px 12px 10px;
    font-size: 16px;
    margin-left: 20px;
    border-radius: 7px;
}
/* #sorting option{
    background-color: #10847e;
    line-height: 24px;
    font-size: 16px;
    font-weight: 400;
    font-family: "Open Sans", sans-serif;
} */
#sorting:hover{
    cursor: pointer;
}
/* -----------product_data------------*/

#product_data{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    row-gap: 30px;
    column-gap: 14px;
    margin-top: 20px;
    padding: 10px;
}
.product_card{
    border: 1px solid rgba(128, 128, 128, 0.476);
    padding: 20px;
    border-radius: 8px;
}
.product_card:hover{
    border: 1px solid teal;
    cursor: pointer;
}
.product_img {
    height: 200px;
    width: 100%;
    object-fit: contain;
    margin-bottom: 20px;
}
.product_name{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    height: 50px; 
    font-family: "Open Sans", sans-serif;
    color: #4f585e;
    line-height: 24px;
    font-size: 16px;
    font-weight: 700;
}
.price_div{
    display: flex;
    margin-top: 4px;
}
.product_price{
    margin-right: 20px;
    color: #8897a2;
    line-height: 18px;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 14px;
}
.discount{
    background-image: url('https://assets.pharmeasy.in/web-assets/_next/icons/pdp-discount.png');
    background-repeat: no-repeat;
    font-size: 10px;
    font-weight: 600;
    line-height: 20px;
    font-family: "Open Sans", sans-serif;
    color: #ffffff;
    padding-left: 5px;
    padding-right: 20px;
    align-items: center;
}
.product_final_price{
    color: #4f585e;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
}

#responsive_btn{
    display: none;
}

/*------------------- product description ----------------- */
#product_description{
    display: flex;
    /* border: 1px solid red; */
    width: 80%;
    margin: auto;
    padding: 10px;
    column-gap: 10px;
    justify-content: space-between;
}
#product_description h2{
    /* margin: 18px 0; */
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 24PX;
    color: #4f585e;
    margin-top: 20px;
    margin-bottom: 20px
}
#pro_des_left{
    width: 60%;

}
/* #pro_des_left h2 div h3{
    border: 1px solid black;
} */
#pro_des_left p{
    color: #4F585E;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin-top: 15px;
    margin-bottom: 15px
}
#pro_des_left ul{
    box-sizing: border-box;
    padding: 0 0 0 30px;
    color: #4F585E;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    text-align:justify;
    line-height: 26px;
}
#pro_des_right{
    width: 35%;
}
 #product_table{
    /* border: 1px solid black; */
    box-sizing: border-box;
    display: table;
    border-collapse: separate;
    border-spacing: 0px;
       padding: 10px; 
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: #10847e;
    line-height: 18px;
    font-size: 14px; 
} 
#product_table th{
    /* border: 1px solid black; */
    padding: 10px;
}
#product_table td{
    /* border: 1px solid black; */
    border-collapse:collapse;
    border-spacing: 0;
    padding: 10px;  
}
#pro_des_right>h2{
    text-align: center;
}
.faq_div{
    border: 1px solid rgba(128, 128, 128, 0.214);
    padding: 12px;
    border-radius: 6px;
    /* margin-bottom: 20px; */
    margin: -10px 0 20px 20px;
}
.faq_div h3{
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    line-height: 18px;
    font-weight: 600;
    color: #4f585e;
    margin: 8px 0 0 0;
}
.faq_div p{
    font-family: "Open Sans", sans-serif;
    font-size: 12px;
    line-height: 18px;
    font-weight: 400;
    color: rgba(128, 128, 128, 0.214);
}


/* -------------------------- media ----------------------- */

@media all and (min-width:305px) and (max-width:900px) {
    #container{
        box-sizing: border-box;
        width: 100%;
        padding: 0;
    }
    #right{
        padding: 0;
        box-sizing: border-box;
        width: 100%;
    }
    #product_data{
        padding: 0;
        box-sizing: border-box;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        row-gap: 0;
        column-gap: 0;
    }
    #product_card{
        border-radius: 0px;
    }
    #right_top{
        display: none;
    }
    #left{
        display: none;
    }
    #responsive_btn{
        box-sizing: border-box;
        visibility: visible;
        box-sizing: border-box;
        border: 0;
        display: flex;
        width: 100%;
        position:fixed;
        z-index: 1;
        bottom: 0;  
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    }
    #responsive_sort{
        box-sizing: border-box;
        border: 0;
        width: 50%;
        padding: 20px;
        font-size: 16px;
        line-height: 20px;
        font-family: "Open Sans", sans-serif;
        font-weight: 600;
        color: #4f585e;
        /* position: fixed; */
        /* z-index: 1; */
    }
    #responsive_filter{
        box-sizing: border-box;
        border: 0;
        width: 50%;
        font-size: 16px;
        line-height: 20px;
        font-family: "Open Sans", sans-serif;
        font-weight: 600;
        color: #4f585e;
        /* position: fixed; */
        /* z-index: 1; */
    }


    /*--------------- product description -------------------*/
    #product_description{
        box-sizing: border-box;
        display: grid;
        width: 100%;
    }
    #pro_des_left{
        box-sizing: border-box;
        width: 100%;
    }
    #pro_des_right{
        box-sizing: border-box;
        width: 100%;
    }
    #pro_des_right>h2{
        text-align: start;
        margin-left: 28px;
    }
    #product_table tr th{
        text-align: start;
        margin-left: 28px;
    }
    
}




@media all and (min-width:10px) and (max-width:304px) {
    #container{
        box-sizing: border-box;
        width: 100%;
        padding: 0;
    }
    #right{
        padding: 0;
        box-sizing: border-box;
        width: 100%;
    }
    #product_data{
        padding: 0;
        box-sizing: border-box;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(1,1fr);
        row-gap: 0;
        column-gap: 0;
    }
    #product_card{
        border-radius: 0px;
    }
    #right_top{
        display: none;
    }
    #left{
        display: none;
    }
    #responsive_btn{
        box-sizing: border-box;
        visibility: visible;
        box-sizing: border-box;
        border: 0;
        display: flex;
        width: 100%;
        position:fixed;
        z-index: 1;
        bottom: 0;  
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    }
    #responsive_sort{
        box-sizing: border-box;
        border: 0;
        width: 50%;
        padding: 20px;
        font-size: 16px;
        line-height: 20px;
        font-family: "Open Sans", sans-serif;
        font-weight: 600;
        color: #4f585e;
        /* position: fixed; */
        /* z-index: 1; */
    }
    #responsive_filter{
        box-sizing: border-box;
        border: 0;
        width: 50%;
        font-size: 16px;
        line-height: 20px;
        font-family: "Open Sans", sans-serif;
        font-weight: 600;
        color: #4f585e;
        /* position: fixed; */
        /* z-index: 1; */
    }

    /*--------------- product description -------------------*/
    #product_description{
        box-sizing: border-box;
        display: grid;
        width: 100%;
    }
    #pro_des_left{
        box-sizing: border-box;
        width: 100%;
    }
    #pro_des_right{
        box-sizing: border-box;
        width: 100%;
    }
    #pro_des_right>h2{
        text-align: start;
        margin-left: 28px;
    }
    #product_table tr th{
        text-align: start;
        margin-left: 28px;
    }



}
