*{margin:0; padding:0; font-family:'Times New Roman', Times, serif}
nav{height: 85px;
     padding:0 15px; font-size: 18px;
background-color: #10847e; box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
position:relative;
}

#logo{width: 100px; height:75px; margin-top: 13px;}
nav ul {display: flex; justify-content: space-between;
align-items: center; 
height: 100%; }
.glass{background-color: rgb(246, 246, 246); height: 55px; display: flex; align-items: center; min-width: 35px; justify-content: center; border-radius: 8px;}
nav li{list-style-type: none; 
  
    padding: 0 10px; 
}

#forever{display:flex; gap: 7px;}
#part {margin:0; border:none; background-color: white; border-radius: 8px;}
nav a{ text-decoration:none;}
#search{font-size: 18px;}
input[type="search"]{
     outline:none; border-width:0;  padding: 17px 10px; font-size: 16px;
}
.fa-magnifying-glass{color:rgb(151, 149, 149);}
#login{padding: 8px 13px; width: auto; background-color: #10847e; color: white; margin-right: 10px; display: flex; gap: 10px;}

#check{float:left;}
label{float:left; margin-top: 6px;}

#check{display:none;}
.fa-bars{ background-color: #10847e; color: white;}
label{display:none;}

nav i{font-size:20px; cursor:pointer;}
.two{display:none;}
#loginc{display: flex; flex-direction: row-reverse;}

#check:checked nav{margin-bottom: 200px;}
@media screen and (min-width: 50px) and (max-width: 850px){
    label{display:block; float:right;}
    #res{display:none;}

    #check:checked ~ul{display:flex; flex-direction: column; gap: 5px; padding:15px 0px;
    position: absolute;right:0;  top:78px; background-color: rgb(250, 93, 93); width: 100%; height:auto;
align-items: flex-start;}

 #res a {color:white;}
#login{padding:0; background-color:rgb(250, 93, 93);}
    #res li:hover{color:white;}
    #res a:hover, #res button:hover {border-bottom: 1.5px solid white;}
}

@media screen and (min-width: 50px) and (max-width: 600px){
    .two{display:inline-block;}
    .one{display:none;}
   #search{display:none;}
   
/* #check:checked nav{margin-bottom: 200px;} */

}